<nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/cars">Cars</a></li>
      <li><a href="/countries">Countries</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </nav>