<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Ingelogd</title>
</head>
<body style="text-align: center;">
    <%- include('nav.ejs') %>
    <br>
    <h1> Welkom </h1>
    <br>
    <h2> Ingelogd als <%= username %> </h2>
    <br>
    <h3> <a href="/"> Klik hier om terug te gaan naar home </a> </h3>
    <br>
</body>
</html>