<nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/cars">Collectie</a></li>
      <li><a href="/countries">Landen</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
</nav>