<nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/cars">Collectie</a></li>
      <li><a href="/countries">Landen</a></li>
      <% if (username) { %>
        <li><a href="/logout">Log out</a></li>
    <% } else { %>
        <li><a href="/login">Log in</a></li>
    <% } %>
    </ul>
</nav>