<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
  <title> Account aanmaken</title>
</head>
<body style="text-align: center;">
    <%- include('nav.ejs') %><br>
    <h1> Account aanmaken </h1><br>
  <form action="/register" method="POST" style="font-size: large;"><br>
    <input type="text" name="username" placeholder="Kies gebruikersnaam" required><br>
    <input type="password" name="password" placeholder="Kies wachtwoord" required><br>
    <button type="submit" style="margin: 1%;">Register</button><br>
  </form><br>
</body>
</html>
